body {
    font-size:18px;
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,Eina 04,system-ui,Segoe UI,Roboto,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}
h1, h2, h3, h4, h5 {
    font-family: 'DM Sans', sans-serif;
}
